        <div class="page-error">
          <div class="page-inner">
            <h1>403</h1>
            <div class="page-description" style="font-size: 50px; color: white">
              You are not authorized to access this page.
            </div>
            <br>
            <div class="page-description">
              <img src="https://i.kym-cdn.com/entries/icons/mobile/000/028/207/Screen_Shot_2019-01-17_at_4.22.43_PM.jpg" alt="">  
            </div>
          </div>
        </div>