    <div id="app">
          <div class="page-error">
            <div class="page-inner">
              <h1>404</h1>
              <div class="page-description" style="font-size: 50px; color: white">
                We couldn't find the page you were looking for.
              </div>
              <br>
              <div class="page-description">
                <img src="https://pbs.twimg.com/media/D3Wxw4XX4AEtCFj.jpg" alt="">  
              </div>
            </div>
          </div>
    </div>