<div class="card">
    <div class="card-header">
        Change the password for <%= user.username %>
    </div>
    <div class="card-body">
        <form action="/actions/password/<%= user.id %>" method="post">
            <div class="form-group">
                <label>User ID</label>
                <input type="text" class="form-control" name="accid" value="<%= user.id %>" readonly>
                <br>
                <label>New Password</label>
                <input type="password" class="form-control" name="newpass">
                <br>
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="confpass">
            </div>
            <button class="btn btn-danger" type="submit" name="">Change!</button>
        </form>
    </div>
</div>