<head>
    <title>Horizon - <%= title %></title>
    <!--Icon kit things-->
    <script src="https://kit.fontawesome.com/e9bdb24827.js" crossorigin="anonymous"></script>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="/static/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/modules/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/realistik.css">
    <link rel="icon" type="image/png" href="/static/img/rosu.ico">
    <link rel="stylesheet" href="/static/css/daskstisla.css">
    <!--JS Modules-->
    <script src="/static/modules/jquery.min.js"></script>
    <script src="/static/js/stisla.js"></script>
    <script src="/static/modules/popper.js"></script>
    <script src="/static/modules/tooltip.js"></script>
    <script src="/static/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="/static/modules/moment.min.js"></script>
    <script src="/static/js/scripts.js"></script>
    <!--Pace loading abr thing-->
    <script src="/static/js/pace.min.js"></script>
    <link href="/static/css/loadingbar.css" rel="stylesheet" />
</head>