<form class="box" action="/auth/login" method="post">
        <h1>Horizon</h1>
        <div class="text1">Using jasmin v1</div>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" name="" value="Login">
</form>